{
  "swagger": "2.0",
  "info": {
    "title": "NOC RAG API",
    "description": "POC untuk sistem chat berbasis dokumen menggunakan DeepSeek LLM.",
    "termsOfService": "",
    "contact": {"email": "dev@arnatech.id"},
    "license": {"name": "Proprietary"},
    "version": "v1"
  },
  "host": "noc-rag-poc.arnatech.id",
  "schemes": ["https"],
  "basePath": "/api",
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Bearer token dari SSO Arnatech. Format: Bearer <access_token>"
    }
  },
  "security": [{"Bearer": []}],
  "definitions": {
    "ChartDataset": {
      "type": "object",
      "properties": {
        "label": {"type": "string"},
        "data": {"type": "array", "items": {"type": "number"}},
        "backgroundColor": {"type": "string"},
        "borderColor": {"type": "string"},
        "borderWidth": {"type": "integer"},
        "tension": {"type": "number"}
      }
    },
    "ChartData": {
      "type": "object",
      "properties": {
        "labels": {"type": "array", "items": {"type": "string"}},
        "datasets": {
          "type": "array",
          "items": {"$ref": "#/definitions/ChartDataset"}
        }
      }
    },
    "Chart": {
      "type": "object",
      "properties": {
        "type": {"type": "string"},
        "data": {"$ref": "#/definitions/ChartData"},
        "options": {"type": "object"}
      }
    },
    "ChatResponse": {
      "type": "object",
      "properties": {
        "text": {"type": "string"},
        "chart": {"$ref": "#/definitions/Chart", "nullable": true}
      }
    },
    "ChatHistoryItem": {
      "type": "object",
      "properties": {
        "id": {"type": "integer"},
        "user_message": {"type": "string"},
        "response_text": {"type": "string"},
        "response_chart_json": {"$ref": "#/definitions/Chart", "nullable": true},
        "document_ids": {"type": "array", "items": {"type": "integer"}},
        "conversation_id": {"type": "string"},
        "created_at": {"type": "string", "format": "date-time"}
      }
    },
    "ChatHistoryResponse": {
      "type": "object",
      "properties": {
        "count": {"type": "integer"},
        "history": {
          "type": "array",
          "items": {"$ref": "#/definitions/ChatHistoryItem"}
        }
      }
    }
  },
  "paths": {
    "/chat/": {
      "post": {
        "operationId": "chat_create",
        "description": "Kirim pesan chat dan terima response dari LLM dengan konteks dokumen.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["message"],
              "properties": {
                "message": {"type": "string", "maxLength": 5000},
                "conversation_id": {"type": "string", "maxLength": 100}
              }
            }
          }
        ],
        "responses": {
          "200": {"description": "Response berhasil", "schema": {"$ref": "#/definitions/ChatResponse"}},
          "400": {"description": "Bad Request - Validasi gagal"},
          "401": {"description": "Unauthorized - Token tidak valid atau tidak ada"},
          "502": {"description": "Error dari LLM API"}
        },
        "tags": ["Chat"],
        "security": [{"Bearer": []}]
      }
    },
    "/chat/history": {
      "get": {
        "operationId": "chat_history_list",
        "description": "List history chat milik user (50 terakhir).",
        "responses": {
          "200": {"description": "History berhasil diambil", "schema": {"$ref": "#/definitions/ChatHistoryResponse"}},
          "401": {"description": "Unauthorized - Token tidak valid atau tidak ada"}
        },
        "tags": ["Chat"],
        "security": [{"Bearer": []}]
      }
    }
  }
}
